# Django
SECRET_KEY=change-me
DEBUG=True

# Database
DB_NAME=url_shortener
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://127.0.0.1:6379/1

# RabbitMQ / Celery
CELERY_BROKER_URL=amqp://guest:guest@localhost:8672//